{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Oxygen+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Weather App</title>
  </head>
  <body>
    <main>
      <!-- search bar and city name -->
      <section class="container">
        <div class="row">
          <form class="col" id="search-form" method = "POST">
            {% csrf_token %}
            <input
              name = 'input_city'
              type="text"
              id="search-input"
              aria-describedby="searchCity"
              placeholder="Search city..."
              class="search-form"
              autocomplete="off"
            />
           
            <button type="submit">Search</button>
            
          </form>
          
          <h1
            class="col d-flex justify-content-center align-items-center city-title"
            id="searched-city"
          >
            {{city_name}}
          </h1>
        </div>
        <span class="measurements">
          <a href="#" id="celcius-link">C°</a> |
          <a href="#" id="fahrenheit-link">F°</a>
        </span>
      </section>

      <!-- temp and day info -->
      <section class="current-weather">
        <div class="container">
          <div class="row">
            <h1 class="col temp-title" id="current-temperature">{{current_temperature}}</h1>
            <div class="col todays-info">
              <p id="current-time">Last updated: {{current_time}}</p>
              <h2 id="current-day">Today, {{weekday}}</h2>
              <p id="weather-type">{{weather_type}}</p>
            </div>
            <div class="col d-flex align-items-center side-info">
              <ul>
                <li>Humidity: {{humidity}}<span id="humidity"></span></li>
                <li>Wind: {{wind}}<span id="wind"></span></li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
      </section>

      <!--5 day forecast-->
      <section class="container">
        <div class="row week-forecast">
          <div class="col">
            <h3>Fri</h3>
            <br /><img
              src="https://img.icons8.com/color-glass/42/000000/rain.png"
            /><br />
            <p class="weather">Rain</p>
            <span>2°</span>
          </div>
          <div class="col">
            <h3>Sat</h3>
            <br /><img
              src="https://img.icons8.com/color-glass/42/000000/cloud.png"
            /><br />
            <p class="weather">Cloudy</p>
            <span>4°</span>
          </div>
          <div class="col">
            <h3>Sun</h3>
            <br /><img
              src="https://img.icons8.com/color-glass/42/000000/partly-cloudy-day.png"
            /><br />
            <p class="weather">Partly cloudy</p>
            <span>6°</span>
          </div>
          <div class="col">
            <h3>Mon</h3>
            <br /><img
              src="https://img.icons8.com/color-glass/42/000000/sun.png"
            /><br />
            <p class="weather">Sunny</p>
            <span>8°</span>
          </div>
          <div class="col">
            <h3>Tues</h3>
            <br /><img
              src="https://img.icons8.com/color-glass/42/000000/wind.png"
            /><br />
            <p class="weather">Windy</p>
            <span>5°</span>
          </div>
        </div>
      </section>

      <footer>
        <p>
          Designed and coded by
          <a href="https://github.com/Tumekab" target="_blank">Tumeka</a
          ><span>✌🏼</span>
        </p>
      </footer>
    </main>
  </body>
</html>
